@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

section.chat_section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.brand .volumeBtn {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-left: auto;
}

.chat_area {
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

.message_area {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
}

.message_area img {
    height: 20px;
    width: 20px;
}

.message_area .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px 20px 16px;
    cursor: pointer;
    background: #FBFBFB;
}

.emojiPicker{
    display: none;
    position: absolute;
    bottom: 18%;
    left: 35%;
    width: 350px;
    height: 300px;
}

textarea {
    width: 100%;
    border: none;
    border-top-right-radius: 5px;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
    resize: none;
}

.message_area .sendBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 10px;
    border-top-left-radius: 5px;
    cursor: pointer;
    background: #FBFBFB;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.message {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: justify;
}

.incoming {
    background: #F7F7F7;
    color: #212121;
    border-bottom-left-radius: 0px;
    margin-right: auto;
}

.outgoing {
    background: #24EFB7;
    color: #fff;
    margin-left: auto;
    border-bottom-right-radius: 0px;
}

.incoming span,
.outgoing span {
    margin-top: 10px;
    font-size: 0.7rem;
    font-weight: 500;
    position: relative;
    float: right;
}

.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}